/* Imported Google font family: Poppins, Manrope and Inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700;800&display=swap");

/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
:root {
  --white: #fff;
  --heading: #3a3a3a;
  --btn-bg-color: #e02c6d;
  --Text-Gray-900: #18191f;
  --Dark-Color: rgba(0, 0, 0, 0.87);
  --Gray-50: #787885;
  --featuredHeading: #0a0826;
  --featuredP: #6c6c6c;
  --Text-Gray-300: #d9dbe1;
}

/* Common shared styles */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  font-feature-settings: "clig" off, "liga" off;
  color: var(--heading);
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 600;
}
h3 {
  font-feature-settings: "liga" off;
  color: var(--Text-Gray-900);
}
p {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 175%;
  padding: 1rem 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-feature-settings: "clig" off, "liga" off;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
}
button {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 4.1rem;
  border: 0;
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  background: var(--btn-bg-color);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.container {
  width: 80%;
  height: auto;
  margin: 5rem auto;
}
img {
  width: 100%;
  height: auto;
}
/* Header section styles */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
}
header nav .hideIcon {
  display: none;
}
header nav .hideIcon a {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--heading);
}
header nav h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
header nav .menu {
  display: inline-flex;
}
header nav .menu a {
  color: var(--heading);
  margin-left: 3.4rem;
  line-height: 4rem;
  text-transform: capitalize;
}

/* Banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13rem;
}
.banner .banner-content {
  max-width: 80%;
}
.banner .banner-content h1 {
  font-size: 5.2rem;
}
.banner .banner-img {
  position: relative;
  max-width: 80%;
}
.banner .banner-img img {
  width: 100%;
}
.banner .banner-img .main-camera {
  position: absolute;
  left: 0;
  top: 1rem;
}

/* Sponsors styles */
.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  border-top: 1px solid rgba(192, 204, 218, 0.6);
  border-bottom: 1px solid rgba(192, 204, 218, 0.6);
  padding: 3.5rem;
}
.sponsors img {
  width: auto;
}

/* Popular Collection styles */
#products h2 {
  font-size: 2.8rem;
  text-align: center;
  margin: 3rem auto;
}
.popular-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 1.6rem;
  padding: 5rem 0;
}
.popular-collection .product-card {
  padding: 1.6rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.popular-collection .product-card h4 {
  color: var(--Text-Gray-900);
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 4rem;
  margin-top: 1rem;
  text-transform: capitalize;
}
.popular-collection .product-card h5 {
  color: var(--Dark-Color);
  font-size: 2.4rem;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
}
.popular-collection .product-card .rating i {
  color: #fb8200;
  padding: 0.4rem;
}
.popular-collection .product-card li {
  color: var(--Gray-50);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.252px;
}
#products .see-more a {
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  float: right;
  text-transform: capitalize;
}

/* Featured Products styles */
.featured-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.featured-products .featured-content {
  width: 100%;
}
.featured-products .featured-img img {
  border-radius: 1rem;
}
.featured-products .featured-content h1 {
  font-size: 3.8rem;
  color: var(--featuredHeading);
}
.featured-products .featured-content p {
  color: var(--featuredP);
  margin: 1.6rem auto;
  max-width: 80%;
}

footer {
  background-color: #0a0826;
}
footer .footer {
  text-align: center;
  padding: 5rem 0;
}
footer .footer h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}
footer .footer p {
  color: var(--Text-Gray-300);
  font-size: 1.4rem;
  font-family: Manrope;
  line-height: 1rem;
  line-height: 2.4rem;
}
.social-icons {
  color: #fff;
  display: inline-flex;
  gap: 1.6rem;
  font-size: 2.4rem;
  margin-top: 1.7rem;
}
.social-icons i {
  padding: 1.4rem;
  border-radius: 50%;
  background-color: rgba(49, 56, 83, 0.474);
}

/* Responsive for medium devices min-width: 576px and max-width: 992px */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header nav {
    flex-direction: column;
    gap: 2rem;
  }
  .banner,
  .featured-products {
    gap: 5rem;
  }
  .banner .banner-content h1 {
    font-size: 3rem;
  }
  .banner .banner-img {
    max-width: 100%;
  }
  .banner .banner-img .main-camera {
    top: 0;
  }
  .popular-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .featured-products .featured-content h1 {
    font-size: 3rem;
  }
  .featured-products .featured-content p {
    margin: 1rem 0;
    max-width: 90%;
  }
}

/* Responsive for small devices max width: 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin: 3.5rem auto;
  }
  button {
    font-weight: 500;
  }
  header nav .hideIcon {
    display: block;
  }
  header nav .menu {
    display: none;
  }
  .banner,
  .featured-products {
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .banner .banner-content {
    text-align: center;
  }
  .banner .banner-content h1 {
    font-size: 3rem;
  }
  .sponsors {
    border: 0;
    gap: 2rem;
  }
  .popular-collection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .featured-products .featured-content h1 {
    font-size: 2.4rem;
  }
  .featured-products {
    text-align: center;
  }
}
